@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;600;700;900&display=swap");
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Raleway", sans-serif;
    color: #fff;
    line-height: 1.5;
    font-size: 0.875rem;
    background-image: radial-gradient(#32408d87, #646cc0a8),
        url("https://images.unsplash.com/photo-1588032786045-59cefda005c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=888&q=80");
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4 {
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}
h1 {
    font-size: 3rem;
    font-weight: 100;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.875rem;
}
p {
    margin-bottom: 1.25rem;
}

.container {
    margin: 0 auto;
    background-color: rgba(41, 41, 41, 0.95);
    max-width: 400px;
    padding: 1em;
    border-radius: 0.5rem;
}
.inner-container {
    margin: auto;
    background-color: #222;
    width: 140px;
    height: 50px;
    padding-top: 13px;
    text-align: center;
    border-radius: 0.5rem;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    margin-bottom: 10px;
}
#power {
    display: inline-block;
}
.pads {
    min-width: 50%;
    /* width: 350px; */
    /* width: 100%; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.drum-pad {
    padding: 1em;
    /* margin: auto; */
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.drum-pad:hover {
    background-color: #222;
}
#text {
    width: 0;
    opacity: 0;
    cursor: default;
}
.controlPanel {
    padding: 5em 0;
    width: 49%;
    height: 50%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
#volume {
    margin: auto;
}
header {
    padding: 2em;
    text-align: center;
}

@media screen and (min-width: 700px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
        font-weight: 100;
    }
    .container {
        max-width: 700px;
        display: flex;
        padding: 2em;
    }
    .pads {
        margin: none;
    }
}
